.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 20, 39, 1);
}

.loginContainer {
    background-color: rgba(60, 60, 72, 1);
    width: 25%;
    height: 60%;
    border-radius: 5%;
}

.pageTitle {
    color: rgba(19, 210, 61, 1);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 4vh;
}

.form {
    height: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.entryDataContainer {
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.label {
    color: #fff;
    margin-bottom: 1vh;
}

.input {
    background-color: rgba(91, 95, 96, 1);
    height: 5vh;
    border-radius: 8px;
    width: 100%;
    color: #fff;
    padding-left: 1vw;
}

.button {
    display: flex;
    justify-content: center;
    background-color: rgba(19, 210, 61, 1);
    height: 5vh;
    border-radius: 8px;
    width: 100%;
    color: #fff;
    margin-top: 5vh;
    cursor: pointer;
}

.buttonLbl {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 5vh;
}

.signUpLbl {
    width: 100%;
    color: #fff;
    font-size: 0.9em;
    text-decoration: underline;
    text-align: center;
    margin-top: 1.5vh;
}

/* Efeitos do botão */
.button:active {
    transform: translateY(2px); 
}

.button:hover {
    background-color: rgba(19, 210, 61, 0.49);
}